
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Log In</title>
    <link rel="stylesheet" href="login_style.css">

</head>
    <div class="container">
        <h2>Giriş</h2>
        <form id="loginForm">
            <label for="username">kullanıcı adı:</label>
            <input type="text" name="username" id="username" required><br><br>
            <label for="password">Parola:</label>
            <input type="password" name="password" id="password" required><br><br>
            <input type="button" name="Sign In" onclick="submitForm()" value="Sign In">
        </form> 
        <div class="error">
                    </div>
        <div class="link">
          Bir hesabınız yok mu? <a href="/register">Kayıt Ol</a>
          <label for="login_status" id="login_status" style="color: red;"></label>
        </div>
        <div class="homepage-button">
            <a href="/">Home Page</a>
        </div>
    </div>
    <script>

        function submitForm(){
            var form = document.getElementById("loginForm")
            var formData = new FormData(form)
            fetch("/login",{
                method: "POST",
                headers: {'Content-Type':'application/x-www-form-urlencoded'},
                body: new URLSearchParams(formData)
            })
            .then(response => response.json())
            .then(data => {
                if (data.success){
                    window.location.href = "/"
                } else document.getElementById("login_status").innerText = "geçersiz kullanıcı adı veya şifre"
            })
            .catch(err => {
                console.error(err)
            })
        }

        document.getElementById('password').addEventListener('keyup', function(event) {
        if (event.keyCode === 13) {
            event.preventDefault();
            submitForm();
        }
        });
    </script>
</body>
</html>
